.jumbotron
{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/pexels-pixabay-162553.jpg");
    color: white;
    background-size: cover;
    text-shadow: 2px 2px #000;
}
.footer
{
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
}
#popup
{
    align-items: center;
    justify-content: center;
}