.jumbotron
{
    background-image:  url('../images/pexels-pixabay-162553.jpg');
    color: white;
    background-size: cover;
    text-shadow: 2px 2px #000;
}
.footer
{
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
}